* {
    box-sizing: border-box;
    padding   : 0;
    margin    : 0;
}

main {
    height             : 100vh;
    background-image   : url('../img/bg-pc.png');
    background-position: center;
    background-repeat  : no-repeat;
    background-size    : cover;
    overflow           : auto;
}


.header {
    padding: 16px 0;

    .header-pc {
        display        : flex;
        justify-content: space-between;


    }

    a {
        background-color: #E6AD23;
        border-radius   : 9999999999999px;
        padding         : 0px 20px;
        display         : flex;
        justify-content : center;
        align-items     : center;
        height          : 40px;
        min-width       : 100px;
        font-size       : 14px;
        text-decoration : none;
        color           : #333;
        box-shadow      : 0px 30px 30px -15px #111;

        &:hover {
            opacity: 0.9;
        }
    }


}

.title-line {
    text-align    : center;
    text-transform: uppercase;
    font-family   : verdana;
    font-size     : 20px;
    font-weight   : 400;
    text-shadow   : 1px 1px 1px #3b51ce,
        1px 2px 1px #7f8ee1,
        1px 3px 1px #7f8ee1;
    background             : -webkit-linear-gradient(#8292f0, blue);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.title-line-as {
    text-align: center;
    font-size : 50px;
    padding   : 0px 0 10px 0;
}

.title-dac-quyen {
    text-align: center;
    font-size : 16px;
    text-shadow: 1px 1px 1px #ccc,
        1px 2px 1px #ccc;
    color: #fff;
}


.item {
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter : blur(20px);
    padding         : 14px 10px;
    border-radius   : 10px;
    box-shadow      : 0 10px 10px 0 rgba(0, 0, 0, 0.2);
}

.item-cate {
    display      : flex;
    gap          : 10px;
    margin-bottom: 10px;

    .item-cate-left {
        position       : relative;
        width          : 24%;
        display        : flex;
        flex-direction : column;
        justify-content: center;
        align-items    : center;
        padding        : 10px;
        font-size      : 12px;
        border-radius  : 10px;
        overflow       : hidden;

        p {
            line-height   : 0;
            padding-bottom: 3px;
            font-weight   : 500;
            white-space   : nowrap;
        }

        &::after {
            content         : "";
            position        : absolute;
            width           : 100%;
            height          : 50%;
            left            : 0;
            top             : 0;
            right           : 0;
            background-color: #E6AD23;
            z-index         : -1;
        }

        &::before {
            content         : "";
            position        : absolute;
            width           : 100%;
            height          : 50%;
            left            : 0;
            bottom          : 0;
            right           : 0;
            background-color: #E6AD23;
            z-index         : -1;
        }
    }

    .item-cate-right {
        flex            : 1;
        background-color: #fff;
        padding         : 10px;
        border-radius   : 10px;
        background-image: linear-gradient(#ccbaba, #fff);
        font-weight     : 500;
    }

}

.end-sds {
    color      : #fff;
    padding    : 10px 0;
    font-weight: 500;
    text-align : justify;
}

.title-cate {
    color              : #fff;
    text-shadow        : 0 10px 10px 0 rgba(0, 0, 0, 0.2);
    -webkit-text-stroke: 1px #ccc;
    padding            : 10px 0;
}

.title-desc {
    text-align : justify;
    color      : #fff;
    font-weight: 500;
}

.item-cate-center {
    display        : flex;
    justify-content: space-between;
    text-align     : center;
    margin-bottom  : 10px;
    font-weight    : 500;

    .item-cate-center-left {
        width          : 48%;
        display        : flex;
        flex-direction : column;
        justify-content: center;
        align-items    : center;
        padding        : 6px 10px;
        border-radius  : 2px;
        background     : #fff;

        p {
            padding: 0;
            margin : 0;
        }
    }

    .item-cate-center-right {
        width          : 48%;
        display        : flex;
        flex-direction : column;
        justify-content: center;
        align-items    : center;
        padding        : 6px 10px;
        border-radius  : 2px;
        background     : #fff;

        p {
            padding: 0;
            margin : 0;
        }
    }
}


p {
    padding: 0 !important;
    margin : 0 !important;
}

.bg-yellow {
    background-color: yellow !important;

}

.title-cate-right {
    font-size : 24px;
    text-align: center;
    color     : #fff;
}

.item-cate-right-top {
    display        : flex;
    justify-content: space-between;
    font-weight    : 500;
    margin-bottom  : 10px;
    font-size      : 12px;

    .item-cate-right-top-left {
        width           : 34%;
        display         : flex;
        justify-content : center;
        align-items     : center;
        padding         : 12px 10px;
        border-radius   : 2px;
        background-color: #fff;

        p {
            padding    : 0;
            margin     : 0;
            white-space: nowrap;
        }
    }

    .item-cate-right-top-center {
        width           : 28%;
        display         : flex;
        justify-content : center;
        align-items     : center;
        padding         : 12px 10px;
        border-radius   : 2px;
        background-color: #fff;

        p {
            padding    : 0;
            margin     : 0;
            white-space: nowrap;
        }
    }

    .item-cate-right-top-right {
        width           : 34%;
        display         : flex;
        justify-content : center;
        align-items     : center;
        padding         : 12px 10px;
        border-radius   : 2px;
        background-color: #fff;

        p {
            padding    : 0;
            margin     : 0;
            white-space: nowrap;
        }
    }
}

.item-cate-right-center {
    display        : flex;
    justify-content: space-between;
    font-weight    : 500;
    margin-bottom  : 10px;
    font-size      : 12px;

    .item-cate-right-center-left {
        background     : #fff;
        width          : 31%;
        display        : flex;
        justify-content: center;
        align-items    : center;
        padding        : 12px 10px;
    }

    .item-cate-right-center-right {
        background     : #fff;
        width          : 31%;
        display        : flex;
        justify-content: center;
        align-items    : center;
        padding        : 12px 10px;
    }

    .item-cate-right-center-center {
        background     : #fff;
        width          : 31%;
        display        : flex;
        justify-content: center;
        align-items    : center;
        padding        : 12px 10px;
    }
}

footer {
    height         : 200px;
    position       : relative;
    display        : flex;
    flex-direction : column;
    justify-content: flex-end;

    h4 {
        text-align: center;
        color     : #E6AD23;
    }

    img {
        position: absolute;
        right   : 10px;
        bottom  : 10px;
    }
}

@media (max-width: 1300px) {

    .bg-yellow {
        font-size: 12px !important;
    }

    .item-cate-left {
        font-size: 10px !important;
    }
}

@media (max-width: 576px) {

    .show-mobile {
        display: block;
        width  : 100%;
    }

    .show-pc {
        display: none;
    }

    .header-pc {
        display: none !important;
    }

    .header-mb {
        position       : relative;
        display        : flex;
        justify-content: space-between;
        margin-bottom  : 40px;

        a {
            width      : 45% !important;
            font-size  : 10px;
            font-weight: 500;
        }

        img {
            position : absolute;
            width    : 136px;
            top      : 50px;
            left     : 50%;
            transform: translateX(-50%);
        }
    }

    .title-line-as {
        font-size: 34px;
    }

    .title-dac-quyen {
        font-size: 10px;
    }



    footer {
        margin-top    : 20px;
        padding-bottom: 50px;

        p {
            display   : block;
            color     : #fff;
            text-align: center;
            font-size : 12px;
        }

        h4 {
            font-size : 12px;
            margin-top: 10px;
        }

        img {
            width    : 130px;
            left     : 50%;
            transform: translateX(-50%);
            right    : 0;
        }
    }

    .item-cate-left {

        p {
            line-height: unset !important;
        }
    }

    .item-cate-right {
        font-size: 12px;
    }

    .end-sds {
        font-size: 12px;
        padding  : 10px 0 !important;
    }

    .title-desc {
        font-size: 14px;
        padding  : 0px 0 10px 0 !important;
    }

    .bg-yellow {
        font-size: 8px !important;
    }

    .item-cate-center {

        p {
            font-size: 8px !important;
        }
    }

    .item-cate-right-top {
        p {
            font-size: 8px !important;
        }
    }
}

@media (min-width: 577px) {
    .header-mb {
        display: none;
    }

    .show-mobile {
        display: none;
    }

    .show-pc {
        display: block;
    }

    .item-cate-left {
        p {
            line-height: unset !important;
        }
    }

    footer {
        p {
            display: none;
        }
    }
}